BODY {
	SCROLLBAR-FACE-COLOR: 		#EAEAEA; 
	SCROLLBAR-HIGHLIGHT-COLOR: 	#EAEAEA; 
	SCROLLBAR-SHADOW-COLOR: 	#EAEAEA; 
	SCROLLBAR-3DLIGHT-COLOR: 	#EAEAEA; 
	SCROLLBAR-ARROW-COLOR:  	#000000; 
	SCROLLBAR-TRACK-COLOR: 		#FFFFFF; 
	SCROLLBAR-DARKSHADOW-COLOR: #999999; 
}
